* {
	padding: 0px;
	margin: 0px;
	/* es para sacar los valores predeterminados del navegador */
}
@import url('https://fonts.cdnfonts.com/css/berlin-sans-fb-demi');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@600&family=Rubik:wght@700&display=swap');
@import url('https://css.gg/details-more.css');

html, body {
  height: 100%;
  width: 100%;
  background-color: #221C1C !important;
  background-image: url("/assets/Fondo.png");
  background-position-x: center;
  background-size: contain;
  color:#FFFFFF !important;
  
  
}


@font-face {
  font-family: "Friday Beach";
  src: url("/assets/Friday.ttf");

  /*Agrega una fuente personalizada de un directorio local*/
}

.eslogan {
  font-family: "Friday Beach", serif;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: #FFFFFF !important;
}

/*MOBILEFIRST*/  
.header{
  margin-top: 168px;

}
.header_img{
  width: 528px;
}

.navegacion {
	background-color: transparent;
	padding: 30px 10px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 1366px;
	z-index: 99;
  font-family: 'Ubuntu', sans-serif;
}

.navegacion a {
	float: left;
	color: var(--white);
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	padding: 12px;
}

.navegacion-right a:hover {
	color: var(--red);
}

.navegacion-right a.active {
	color: var(--red);
}

.navegacion-right a {
	transition: color 0.5s ease;
}

.navegacion .icon {
	display: none;
}
.navegacion ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navegacion li{
  list-style: none;
}

/*contenido*/

article {
  margin-top: 15%;
}
/*Titulo Principal*/
h1{
  padding: 10px;
  color:  #ffc700;
  font-size: 25px;
  text-align: center;
  font-family: "Friday Beach", serif;
  margin-top: 10px;
}

.container{
  height: 80%;
  padding-top: 10%;
    padding-right: 10%;
    padding-bottom: 0%;
    padding-left: 10%;
  margin: 0% 5% 5% 5%;
  
}
.card{
  background-color: transparent;
}

.nombrePizza{
  background-color: #ffc700;
}
h2{
  color: black;
  font-size: 18px;
  font-family: "Friday Beach", serif;
  text-align: center;
}
.contenido{
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: "Friday Beach", serif;
}
img{
  max-width: 100%; 
}




@media screen and (min-width: 700px){
  .container{
    box-sizing: border-box;
    float: left;
    width: 21%;
    padding: 0;
    margin: 0% 2% 2% 2%;
  }

  .contenido{
  font-size: 10px;
}
  h1{
    font-size: 15px;
  }
  h2{
    font-size: 12px;
  }
}
