* {
	padding: 0px;
	margin: 0px;
	/* es para sacar los valores predeterminados del navegador */
}


html, body {
  height: 100%;
  width: 100%;
  background-color: #221C1C !important;
  background-image: url("/assets/Fondo.png");
  background-position-x: center;
  background-size: contain;
  color:#FFFFFF !important;
  
  
}


@font-face {
  font-family: "Friday Beach";
  src: url("/assets/Friday.ttf");

  /*Agrega una fuente personalizada de un directorio local*/
}

.eslogan {
  font-family: "Friday Beach", serif;
}

/*MOBILEFIRST*/  
.navegacion{

  font-family: 'Ubuntu', sans-serif;
  display: flex;
  width: 100%;
  height: 20%;
  background-color: #FFC700;
  justify-content: center;
}

.navegacion li {
  list-style: none;
}

.navegacion ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navegacion a {
  position: relative;
  display: block;
  margin: 0 ;
  padding: 5% 5px;
  color: #FFFFFF;
  font-size: 9px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
}

.navegacion a:hover {
  color: #e8e8e8;
}

/*Titulo Principal*/
h1{
  padding: 10px;
  color:  #ffc700;
  font-size: 25px;
  text-align: center;
  font-family: "Friday Beach", serif;
  margin-top: 10px;
}

.container{
  height: 80%;
  padding-top: 10%;
    padding-right: 10%;
    padding-bottom: 0%;
    padding-left: 10%;
  margin: 0% 5% 5% 5%;
  
}
.card{
  background-color: transparent;
}

.nombrePizza{
  background-color: #ffc700;
}
h2{
  color: black;
  font-size: 18px;
  font-family: "Friday Beach", serif;
  text-align: center;
}
.contenido{
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: "Friday Beach", serif;
}
img{
  max-width: 100%; 
}

.combos{
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 700px){
  .container{
    box-sizing: border-box;
    width: 21%;
    padding: 0;
    margin: 0% 2% 2% 2%;
  }

  .contenido{
  font-size: 10px;
}
  h1{
    font-size: 15px;
  }
  h2{
    font-size: 12px;
  }
}
