@import url('https://fonts.cdnfonts.com/css/berlin-sans-fb-demi');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@600&family=Rubik:wght@700&display=swap');
@import url('https://css.gg/details-more.css');
/* IMPORTA LAS TIPOGRAFIAS E ICONOS */

* {
	padding: 0px;
	margin: 0px;
	/* es para sacar los valores predeterminados del navegador */
}

:root {
	--red: #ff3838;
	--white: #ffffff;
	--black: #000000;
  --colorPrimario: #ffc700;
  --colorFondo: #221C1C;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: var(--colorFondo) !important;
  background-image: url("/assets/Fondo.png");
  background-position-x: center;
  background-size: contain;
  color:#FFFFFF !important;
}

.prueba{
  background-image: url("/assets/FooterBG.svg");
}
a {
  text-decoration: none !important;
}

a:hover {
  color: #FFFFFF !important;
}


@font-face {
  font-family: "Friday Beach";
  src: url("/assets/Friday.ttf");

  /*Agrega una fuente personalizada de un directorio local*/
}


.eslogan {
  font-family: "Friday Beach", serif;
}

/*-------------------------------*/
/* ESTILOS DE LA PAGINA PRINCIPAL*/
/*-------------------------------*/
.header{
  margin-top: 168px;

}
.header_img{
  width: 528px;
}
.rappi {
  display: flex;
  justify-content: center;
}
.slideshow-container {
	position: relative;
	height: 80%;
}

.slide-item {
	display: none;
}


.bgimg {
	height: 100%;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg::after {
	content: '\A';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.68);
}



.dot {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 2px;
	background-color: var(--white);
	border-radius: 5px;
	display: inline-block;
	transition: background-color 0.6s ease, height 0.6s;
}

.slide-control {
	position: absolute;
	left: 30px;
	top: 50%;
	width: 10px;
	text-align: center;
}

.dot:hover {
	background-color: var(--red);
}

.dot.active {
	background-color: var(--red);
	height: 60px;
}

/* fade animation */


.fx {
	animation-name: fade ;
	animation-duration: 1.0s ;
	-webkit-animation-name: fade ;
	-webkit-animation-duration: 1.0s ;
}

@keyframes fx {
	from {
		opacity: .4
	} to {
		opacity: 1
	}
}

@-webkit-keyframes fx {
	from {
		opacity: .4
	} to {
		opacity: 1
	}
}



.fondo_rappi {
  background-image: url("/assets/Didi.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 710px;
  width: 85%;
}

.info_rappi{
  background: #a50000;
  width: 400px;
  height: 294px;
  float: right;
  margin-right: 15%;
  transform: translateY(474px);
  text-align: center;
}

.titulo_rappi {
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  margin-top: 40px;
}


.pie_pagina{
margin-top: 200px;
    padding-top: 120px;
    background-image: url('/assets/FooterBG.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.texto_rappi{
  font-family: 'Karla', sans-serif;
  font-size: 18px;

}

.img_rappi{
  width: 200px;
}

.movil{
  width: 350px;
}

button {
  cursor: pointer;
  font-weight: 700;
  font-family: 'Berlin Sans FB Demi', sans-serif !important;
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px !important;
  background: var(--colorPrimario);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 20px !important;
  width: 300px;
  justify-content: center;
}

button:hover {
  background: #b5941c;
  color: var(--white);
}

button:active {
  transform: scale(0.95);
}


.btnHeader{
  background-color: #ffc700;
  border-radius: 25px;
  color: #000000;
  padding: 15px 45px;
  font-weight: 900;
}

.btnHeader:hover{
  background-color: #b5941c;
}

.hdBtn{
  margin-top: 50px;
  margin-bottom: 50px;
}
/*-------------------------------*/
/* ESTILOS DEL MENU DE NAVEGACION*/
/*-------------------------------*/

.contenido{
  overflow: auto;
}

.navegacion {
	background-color: transparent;
	padding: 30px 10px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 1366px;
	z-index: 99;
  font-family: 'Ubuntu', sans-serif;
}

.navegacion a {
	float: left;
	color: var(--white);
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	padding: 12px;
}

.navegacion-right a:hover {
	color: var(--red);
}

.navegacion-right a.active {
	color: var(--red);
}

.navegacion-right a {
	transition: color 0.5s ease;
}

.navegacion .icon {
	display: none;
}
.navegacion ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navegacion li{
  list-style: none;
}

@media screen and (max-width: 600px) {

  button{
    width: 100%;
  }
  .fondo_rappi {
  width: 100%;
  display: flex;
  justify-content: center;
}
  
  .info_rappi{
  background: #a50000;
  width: 85%;
  height: 294px;
  margin-right: 0;
  transform: translateY(274px);
  float: none;
  text-align: center;
}
  
  .header_img{
    width: 80%;
  }
	.navegacion {
		padding: 10px;
	}
	
	.navegacion .menu {
		display: none;
	}

	.navegacion .icon {
		display: block;
		position: absolute;
		top: 13px;
		right: 13px;
	}

	.navegacion.show {
		background: var(--black);
	}

	.navegacion.show .menu {
		display: block;
		width: 100%;
	}

	.navegacion.show .menu a {
		width: 100%;
	}


}

/*AQUI TERMINA LA BARRA DE NAVEGACION*/

/*-----------------*/
/*-----------------*/
/*-----------------*/

/*INICIA PIE DE PAGINA*/
